.red-btn {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 14px;
  background: #FA0056;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:before {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 1;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #444343 0%, #656097 100%);
  }

  span,
  div {
    position: relative;
    z-index: 2;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    transform: translateY(2px);
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.load-more-btn {
  border-radius: 4px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  text-align: center;
  padding: 9px 20px;
  background-color: $brand-red;
  color: #fff;
  font-weight: 700;

  &:active {
    transform: translateY(2px);
  }
}