// Size
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 130%;

$desktopWidth: 1400px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 576px;
$smPhoneWidth: 380px;

// Main color
$brand-black: #333333;
$brand-red: #ad073d;
$brand-primary: #ddcfc6;
$brand-gray: #59677e;
$brand-white: #ffffff;
// Font
$mainFont: "Inter";
$mainFontColor: $brand-black;

@mixin pruning($c) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $c;
  -webkit-box-orient: vertical;
  line-clamp: $c;
  box-orient: vertical;
}
