.lecture-page {
  padding-top: 100px;
  padding-bottom: 180px;
  background-image: url(../img/lecture/lecture-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.lecture-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.lecture-descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  &._large {
    font-size: 24px;
  }
}
.lecture-page__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202020;
  margin-bottom: 10px;
}

.lecture-page__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  color: #fa0056;
}

.lecture-page__descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #444444;
  margin-bottom: 30px;
}

.lecture-page__purple {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #764a9d;
  margin-bottom: 30px;
}

.lecture-page__btn {
  padding: 14px 30px;
  background: #fa0056;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  width: fit-content;
}

.lecture-page__head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.lecture-page__logo {
  margin-left: 80px;
}

.lecture-blocks {
  padding: 100px 0;
  background: #d62a7e;

  .lecture-title {
    color: #ffffff;
    margin-bottom: 10px;
  }
  .lecture-descr {
    color: #ffffff;
    margin-bottom: 30px;
  }
}
.lecture-blocks {
  position: relative;
}

.lecture-blocks__ball {
  position: absolute;
  left: 54.5%;
  top: 100px;
  background: linear-gradient(225deg, #9f2ad6 0%, rgba(214, 42, 126, 0) 100%);
  content: "";
  width: 480px;
  height: 480px;
  border-radius: 50%;
}

.lecture-blocks__list {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  .lecture-block {
    margin: 15px;
    width: calc(33.33% - 30px);
    background: #ffffff;
    border-radius: 8px;
    padding: 30px;
    &._l {
      width: calc(50% - 30px);
    }
  }
  .lecture-block__num {
    // transition: color 0.2s ease-in-out;
    margin-bottom: 30px;
    // font-weight: 700;
    // font-size: 96px;
    // line-height: 100%;
    // text-shadow: -2px 0 0 #764a9d, 0 -2px 0 #764a9d, 2px 0 0 #764a9d,
    //   0 2px 0 #764a9d;
    // color: #fff;
  }

  .lecture-block__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #202020;
  }
}

.lecture-blocks.__purple {
  background: #764a9d;
  .lecture-block__num {
    text-shadow: -2px 0 0 #fa0056, 0 -2px 0 #fa0056, 2px 0 0 #fa0056,
      0 2px 0 #fa0056;
  }
}

.lecture-who {
  padding: 60px;
  .lecture-title {
    color: #fa0056;
    margin-bottom: 10px;
  }
  .lecture-who__text {
    flex: 0 0 50%;
  }
}

.lecture-who__wrapper {
  display: flex;
  align-items: center;
}

.lecture-who__img {
  width: 600px;
  height: 600px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.lecture-info {
  overflow: hidden;
  padding-bottom: 100px;
  .lecture-title._red {
    color: #fa0056;
    margin-bottom: 10px;
  }
}

.lecture-info__wrapper {
  margin: 100px 0;
  width: 50%;
  padding: 100px 0;
  position: relative;
  &:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fa0056;
    content: "";
    width: 100vw;
  }
}
.lecture-info__img {
  height: calc(100% + 60px);
  border-radius: 24px 0px 0px 24px;
  overflow: hidden;
  position: absolute;
  right: 1px;
  top: 50%;
  width: 50vw;
  transform: translate(100%, -50%);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.lecture-info__content {
  position: relative;
  z-index: 2;
  color: #fff;
  .lecture-title {
    margin-bottom: 10px;
  }
  .lecture-descr {
    margin-bottom: 30px;
    &._s {
      margin-bottom: 0;
    }
  }
}

.lecture-info__logo {
  margin-bottom: 30px;
}

.lecture-marquee__container {
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  padding: 130px 0 40px;
}

.lecture-marquee {
  display: flex;

  .lecture-marquee__item {
    margin-left: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 46px;
    text-transform: uppercase;
    color: #d62a7e;
    // transform: matrix(1, -0.05, 0, 1, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      margin-left: 100px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='44' height='43' viewBox='0 0 44 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.9338 0.653695L27.0906 16.276L43.7781 15.4015L30.2776 25.9312L35.4343 41.5536L21.9338 32.4389L8.43328 42.9686L13.59 26.8058L0.0894893 17.6911L16.7771 16.8166L21.9338 0.653695Z' fill='%23764A9D'/%3e%3c/svg%3e ");
      width: 46px;
      height: 46px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.lecture-modules {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  background: #764a9d;

  .lecture-title {
    color: #fff;
  }
}
.lecture-modules__slider {
  padding-top: 30px;
  overflow: visible;
}
.lecture-modules__slide {
  width: 790px;
  .lecture-modules__slide_img {
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .lecture-modules__slide_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 30px;
  }
}

.lecture-modules__accardeon {
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 16px;
  .accardeon__head {
    cursor: pointer;
    font-weight: 500;
    padding: 28px 20px;
    padding-right: 80px;
    font-size: 20px;
    line-height: 120%;
    color: #fa0056;
    position: relative;
    &.active {
      &::after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
    &::after {
      transition: transform 0.3s ease-in-out;
      content: "";
      width: 22px;
      height: 22px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 12H23' stroke='%23FA0056' stroke-width='2' stroke-linecap='square'/%3e%3cpath d='M12 1V23' stroke='%23FA0056' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.accardeon__body {
  display: none;
  padding: 20px;
  padding-top: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #444444;
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 0 !important;
  }
}
