.lecture-page {
  padding-top: 100px;
  padding-bottom: 180px;
  background-image: url(../img/lecture/lecture-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.lecture-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.lecture-descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  &._large {
    font-size: 24px;
  }
}
.lecture-page__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202020;
  margin-bottom: 10px;
}

.lecture-page__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  color: #fa0056;
}

.lecture-page__descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #444444;
  margin-bottom: 30px;
}

.lecture-page__purple {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #764a9d;
  margin-bottom: 30px;
}

.lecture-page__btn {
  padding: 14px 30px;
  background: #fa0056;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  width: fit-content;
}

.lecture-page__head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.lecture-page__logo {
  margin-left: 80px;
  width: 276px;
  height: 173px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.lecture-blocks {
  overflow: hidden;
  padding: 100px 0;
  background: #d62a7e;

  .lecture-title {
    color: #ffffff;
    margin-bottom: 10px;
  }
  .lecture-descr {
    color: #ffffff;
    margin-bottom: 30px;
  }
}
.lecture-blocks {
  position: relative;
}

.lecture-blocks__ball {
  position: absolute;
  left: 54.5%;
  top: 100px;
  background: linear-gradient(225deg, #9f2ad6 0%, rgba(214, 42, 126, 0) 100%);
  content: "";
  width: 480px;
  height: 480px;
  border-radius: 50%;
}

.lecture-blocks__list {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  .lecture-block {
    margin: 15px;
    width: calc(33.33% - 30px);
    background: #ffffff;
    border-radius: 8px;
    padding: 30px;
    &._l {
      width: calc(50% - 30px);
    }
  }
  .lecture-block__num {
    // transition: color 0.2s ease-in-out;
    margin-bottom: 30px;
    // font-weight: 700;
    // font-size: 96px;
    // line-height: 100%;
    // text-shadow: -2px 0 0 #764a9d, 0 -2px 0 #764a9d, 2px 0 0 #764a9d,
    //   0 2px 0 #764a9d;
    // color: #fff;
  }

  .lecture-block__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #202020;
  }
}

.lecture-blocks.__purple {
  background: #764a9d;
  .lecture-block__num {
    text-shadow: -2px 0 0 #fa0056, 0 -2px 0 #fa0056, 2px 0 0 #fa0056,
      0 2px 0 #fa0056;
  }
}

.lecture-who {
  padding: 60px 0;
  .lecture-title {
    color: #fa0056;
    margin-bottom: 10px;
  }
  .lecture-who__text {
    flex: 0 0 50%;
  }
}

.lecture-who__wrapper {
  display: flex;
  align-items: center;
}

.lecture-who__img {
  width: 600px;
  height: 600px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.lecture-info {
  overflow: hidden;
  padding-bottom: 100px;
  .lecture-title._red {
    color: #fa0056;
    margin-bottom: 10px;
  }
}

.lecture-info__wrapper {
  margin: 100px 0;
  width: 50%;
  padding: 100px 0;
  position: relative;
  &:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fa0056;
    content: "";
    width: 110vw;
  }
}
.lecture-info__img {
  height: calc(100% + 60px);
  border-radius: 24px 0px 0px 24px;
  overflow: hidden;
  position: absolute;
  right: 1px;
  top: 50%;
  width: 50vw;
  transform: translate(100%, -50%);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.lecture-info__content {
  position: relative;
  z-index: 2;
  color: #fff;
  .lecture-title {
    margin-bottom: 10px;
  }
  .lecture-descr {
    margin-bottom: 30px;
    &._s {
      margin-bottom: 0;
    }
  }
}

.lecture-info__logo {
  margin-bottom: 30px;
}

.lecture-marquee__container {
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  padding: 130px 0 40px;
}

.lecture-marquee {
  display: flex;

  .lecture-marquee__item {
    margin-left: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 46px;
    text-transform: uppercase;
    color: #d62a7e;
    // transform: matrix(1, -0.05, 0, 1, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      margin-left: 100px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='44' height='43' viewBox='0 0 44 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.9338 0.653695L27.0906 16.276L43.7781 15.4015L30.2776 25.9312L35.4343 41.5536L21.9338 32.4389L8.43328 42.9686L13.59 26.8058L0.0894893 17.6911L16.7771 16.8166L21.9338 0.653695Z' fill='%23764A9D'/%3e%3c/svg%3e ");
      width: 46px;
      height: 46px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.lecture-modules {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  background: #764a9d;

  .lecture-title {
    color: #fff;
  }
}
.lecture-modules__slider {
  padding-top: 30px;
  overflow: visible;
}
.lecture-modules__slide {
  width: 790px;
  .lecture-modules__slide_img {
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .lecture-modules__slide_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 30px;
  }
}

.lecture-modules__accardeon {
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 16px;
  .accardeon__head {
    cursor: pointer;
    font-weight: 500;
    padding: 28px 20px;
    padding-right: 80px;
    font-size: 20px;
    line-height: 120%;
    color: #fa0056;
    position: relative;
    &.active {
      &::after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
    &::after {
      transition: transform 0.3s ease-in-out;
      content: "";
      width: 22px;
      height: 22px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 12H23' stroke='%23FA0056' stroke-width='2' stroke-linecap='square'/%3e%3cpath d='M12 1V23' stroke='%23FA0056' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.accardeon__body {
  display: none;
  padding: 20px;
  padding-top: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #444444;
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 0 !important;
  }
}

.lecture-who._sec {
  padding: 100px 0;
  .lecture-who__img {
    margin-right: 30px;
    width: 580px;
    height: 465px;
  }
}

.lecture-persons {
  overflow: hidden;
  .lecture-blocks__ball {
    background: linear-gradient(225deg, #d62a72 0%, rgba(214, 42, 126, 0) 100%);
    &._small {
      width: 233px;
      height: 233px;
      left: 0%;
      bottom: 0;
      top: inherit;
      transform: translateY(30%);
    }
  }
  position: relative;
  padding: 100px 0;
  background: #fa0056;
  .lecture-person {
    width: 380px;
  }
  .lecture-persons__slider {
    overflow: visible !important;
  }
  .lecture-modules__title-wrapper {
    margin-bottom: 30px;
    color: #fff;
  }

  .lecture-person__img {
    cursor: pointer;
    overflow: hidden;
    width: 175px;
    height: 175px;
    border: 4px solid #764a9d;
    border-radius: 50%;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .lecture-person__name {
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .lecture-person__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
  }
}

.lecture-curator {
  background: #764a9d;
  padding: 100px 0;

  .lecture-title {
    margin-bottom: 30px;
    color: #fff;
  }

  .lecture-curator__content {
    display: flex;
    align-items: center;
  }

  .lecture-curator__block {
    flex-shrink: 0;
    width: 370px;
    height: 370px;
    margin-right: 40px;
    position: relative;
    border-radius: 48px;
    &::after {
      position: absolute;
      width: 24px;
      height: 24px;
      content: "";
      background: #fa0056;
      left: 24px;
      top: 24px;
      border-radius: 50%;
      z-index: 2;
    }
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fa0056;
      border-radius: 48px;
      transform: translate(10px, 10px);
    }
    img {
      position: relative;
      z-index: 2;
      border-radius: 48px;
      width: 102%;
      height: 102%;
      object-fit: cover;
    }
  }

  .lecture-curator__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .lecture-curator__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
  }
}

.lecture-who.has-img {
  background-image: url(../img/lecture/lecture-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .lecture-who__wrapper {
    margin: auto;
  }
}

.lecture-certificate__wrapper {
  display: flex;
  align-items: center;
  .lecture-certificate__img {
    width: 565px;
    height: 454px;
    margin-right: 30px;
  }
}

.lecture-certificate {
  background: #764a9d;
  padding: 100px 0px;
  .lecture-title {
    color: #fff;
    margin-bottom: 10px;
  }
}

.lecture-certificate__descr {
  color: #fff;
  margin-bottom: 30px;
}

.lecture-certificate__item {
  padding: 30px;
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 8px 0px 0px 8px;
  position: relative;
  &::after {
    position: absolute;
    transform: translateX(8px);
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 16px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 0L16 16L8 32L0 16L8 0Z' fill='white'/%3e%3c/svg%3e ");
  }
}

.certificate-item__price {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #d62a7e;
}

.certificate-item__descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #444444;
}

.lecture-who.logos {
  .lecture-who__text {
    flex: auto;
  }
  padding: 100px 0;
  .lecture-who__img {
    flex-shrink: 0;
    width: 276px;
    height: 173px;
    margin-right: 30px;
  }
}

.lecture-form {
  padding: 100px 0;
  background: #fa0056;

  .lecture-form__label {
    margin-bottom: 10px;
  }

  .lecture-form__ibput {
    padding: 20px 30px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #202020;
    &.err {
      &::placeholder {
        color: red;
      }
      color: red;
    }
  }
}

.lecture-form__wrapper {
  display: flex;
  .lecture-title {
    color: #fff;
    margin-bottom: 10px;
  }
  .lecture-descr {
    margin-bottom: 30px;
    color: #fff;
  }
  .lecture-form__content {
    flex: 0 0 50%;
    margin-right: 30px;
  }
}

.lecture-form__btn {
  padding: 14px 30px;
  background: #764a9d;
  border-radius: 4px;
  color: #fff;
  margin-top: 30px;
}

.lecture-contacts {
  padding: 100px 0;

  .lecture-title {
    color: #fa0056;
    margin-bottom: 30px;
  }
  .lecture-contacts__cards {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
  }

  .contact-card {
    border: 1px solid #764a9d;
    border-radius: 24px;
    padding: 30px;
    position: relative;
    &::after {
      position: absolute;
      right: 12px;
      top: 12px;
      width: 30px;
      height: 18px;
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.86281 3.61446C3.54597 5.60989 0.00773009 7.24906 5.30464e-05 7.25709C-0.00762399 7.26509 0.818971 7.64317 1.83693 8.09725C2.85489 8.55132 4.36212 9.22359 5.18636 9.59116L6.68496 10.2595V13.5859V16.9123L6.76384 16.988C7.45828 17.6545 11.5794 18.0881 16.2359 17.9848C19.4401 17.9137 21.903 17.6072 22.8313 17.1639C22.9681 17.0985 23.1062 17.0061 23.138 16.9586C23.1907 16.8798 23.1959 16.5812 23.1959 13.5835V10.2948L24.7996 9.5799C25.6817 9.1867 27.2126 8.50438 28.2017 8.06366L30 7.2623L29.6916 7.11077C29.5219 7.02745 26.3228 5.3965 22.5824 3.48644C18.842 1.57641 15.766 0.00750655 15.7467 2.54535e-05C15.7274 -0.00741897 12.1797 1.61906 7.86281 3.61446Z' fill='%23FA0056'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  .contact-card__descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #444444;
    margin-bottom: 5px;
  }
  .contact-card {
    width: calc(50% - 30px);
    margin: 15px;
  }
  .contact-card__name {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #764a9d;
  }
  .contact-card__links {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-card__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #202020;
    margin-bottom: 8px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    &:before {
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      margin-right: 8px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_182_235)'%3e%3cpath d='M16.3076 13.4284C16.0189 13.1537 15.6355 13.0007 15.237 13.0013C14.8385 13.0019 14.4555 13.1559 14.1676 13.4314L13.2146 14.2344C12.4367 13.9125 11.7301 13.4401 11.1353 12.8444C10.5405 12.2486 10.0693 11.5413 9.74861 10.7629L10.5486 9.81288C10.8234 9.52438 10.9769 9.14139 10.9774 8.74298C10.978 8.34457 10.8256 7.96115 10.5516 7.67188C10.5516 7.67188 9.62561 6.47038 9.61011 6.45488C9.32483 6.16775 8.93805 6.00439 8.53332 6.00009C8.12859 5.99578 7.73842 6.15089 7.44711 6.43188L6.87211 6.93188C3.01261 11.0369 12.9721 21.0009 17.0721 17.0819L17.5281 16.5569C17.8177 16.2663 17.9803 15.8729 17.9803 15.4626C17.9803 15.0524 17.8177 14.6589 17.5281 14.3684C17.5116 14.3549 16.3076 13.4289 16.3076 13.4289V13.4284Z' fill='%23FA0056'/%3e%3c/g%3e%3crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%23FA0056'/%3e%3cdefs%3e%3cclipPath id='clip0_182_235'%3e%3crect width='12' height='12' fill='white' transform='translate(6 6)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }

    &._mail:before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7755 12.4981L12.7705 13.5065C12.363 13.9155 11.6459 13.9243 11.2295 13.5065L10.2244 12.4981L6.61467 16.1195C6.74904 16.1817 6.89719 16.2188 7.05469 16.2188H16.9453C17.1028 16.2188 17.2509 16.1817 17.3852 16.1196L13.7755 12.4981Z' fill='%23FA0056'/%3e%3cpath d='M16.9453 7.78125H7.05469C6.89719 7.78125 6.74904 7.81833 6.61472 7.88046L10.472 11.7505L10.4728 11.7511L10.4731 11.7517L11.7273 13.0101C11.8605 13.1433 12.1395 13.1433 12.2727 13.0101L13.5267 11.7519L13.5272 11.7511L13.5281 11.7505L17.3852 7.88044C17.2509 7.81828 17.1028 7.78125 16.9453 7.78125ZM6.11217 8.37216C6.04266 8.51273 6 8.66878 6 8.83594V15.1641C6 15.3312 6.04261 15.4873 6.11215 15.6278L9.72816 12.0001L6.11217 8.37216ZM17.8878 8.37211L14.2719 12.0001L17.8878 15.6279C17.9573 15.4873 18 15.3313 18 15.1641V8.83594C18 8.66873 17.9573 8.51269 17.8878 8.37211Z' fill='%23FA0056'/%3e%3crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%23FA0056'/%3e%3c/svg%3e ");
    }
  }
}

.lecture-slider__btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lecture-modules__title-wrapper {
  display: flex;
  justify-content: space-between;
  .lecture__next,
  .lecture__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media (max-width: 1440px) {
  .lecture-page {
    padding-bottom: 400px;
    background-size: 700px;
  }
}

@media (max-width: 1100px) {
  .lecture-page__logo {
    margin-left: 0;
    order: -1;
    margin-bottom: 50px;
  }
  .lecture-page__head {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .lecture-page__subtitle {
    margin-bottom: 20px;
    font-size: 27px;
  }
  .lecture-page__head_w {
    width: 100%;
  }
  .lecture-page__title {
    br {
      display: none;
    }
    font-size: 44px;
  }
  .lecture-page {
    padding-bottom: 240px;
    background-size: 400px;
  }
}

@media (max-width: 992px) {
  .lecture-blocks.__purple {
    .lecture-block {
      width: calc(50% - 30px) !important;
    }
  }
  .lecture-blocks__list .lecture-block {
    width: calc(50% - 30px);
    &:last-child {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .lecture-blocks__list .lecture-block {
    width: 100% !important;
  }
  .lecture-blocks.__purple {
    .lecture-block {
      width: 100% !important;
    }
  }

  .lecture-page__logo {
    // margin-bottom: 20px;
    width: 250px;
    height: 140px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .lecture-blocks,
  .lecture-certificate,
  .lecture-form,
  .lecture-contacts,
  .lecture-who._sec,
  .lecture-persons,
  .lecture-curator,
  .lecture-modules {
    padding: 50px 0;
  }
  .lecture-info {
    padding-bottom: 50px;
  }
  .lecture-page {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .lecture-who._sec .lecture-who__img {
    width: 80vw;
    height: 80vw;
    margin: 0;
  }
  .lecture-who__wrapper {
    flex-direction: column;
  }
  .lecture-who__img {
    width: 100%;
    height: 100vw;
  }
  .lecture-who.logos .lecture-who__img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .lecture-who.logos {
    padding: 50px 0;
    .lecture-who__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 1700px) {
  .lecture-marquee .lecture-marquee__item {
    font-size: 50px;
    margin-left: 50px;
  }
  .lecture-marquee .lecture-marquee__item::after {
    margin-left: 50px;
  }

  .lecture-marquee__container {
    padding: 80px 0 0px;
  }
}

@media (max-width: 1440px) {
  .lecture-marquee .lecture-marquee__item {
    font-size: 38px;
  }
}

@media (max-width: 992px) {
  .lecture-contacts .lecture-contacts__cards {
    flex-direction: column;
    margin: 0;
  }
  .lecture-contacts .contact-card {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .lecture-form__img {
    display: none;
  }
  .lecture-form__wrapper .lecture-form__content {
    flex: 0 0 100%;
  }
  .lecture-form .lecture-form__ibput {
    max-width: inherit;
  }
  .lecture-certificate__wrapper .lecture-certificate__img {
    display: none;
  }
  .lecture-certificate__content {
    width: 100%;
  }
  .lecture-curator .lecture-curator__content {
    flex-direction: column;
    align-items: flex-start;
  }
  .lecture-curator .lecture-curator__block {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .lecture-marquee__container {
    transform: none;
  }
  .lecture-info__img {
    display: none;
  }
  .lecture-marquee__container {
    padding-top: 40px;
  }
  .lecture-info__wrapper {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .lecture-info__wrapper:before {
    right: -20px;
  }
  .lecture-info__content .lecture-descr br {
    display: none;
  }
  .lecture-modules__slide {
    width: 80vw;
  }
  .lecture-persons .lecture-person {
    width: 70vw;
  }
}

@media (max-width: 1100px) {
  .lecture-who.has-img {
    min-height: inherit;
    padding-bottom: 350px;
    background-size: 600px;
  }
}
@media (max-width: 576px) {
  .lecture-info__wrapper {
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .lecture-marquee .lecture-marquee__item {
    font-size: 24px;
    margin-left: 20px;
  }
  .lecture-marquee .lecture-marquee__item::after {
    width: 20px;
    height: 20px;
  }
  .lecture-marquee .lecture-marquee__item::after {
    margin-left: 20px;
  }
}

@media (max-width: 414px) {
  .lecture-modules__slide {
    width: calc(100vw - 30px);
  }
}

@media (max-width: 576px) {
  .lecture-page__head {
    margin-bottom: 20px;
  }
  .lecture-modules__accardeon .accardeon__head {
    b {
      display: block;
      width: 100%;
    }
    padding-right: 40px;
  }
  .lecture-modules__accardeon .accardeon__head::after {
    right: 15px;
  }
  .lecture-curator .lecture-curator__block {
    width: 80vw;
    height: 80vw;
  }

  .lecture-page__logo,
  .lecture-who.logos .lecture-who__img {
    width: 180px;
    height: 100px;
    margin-bottom: 30px;
  }
  .lecture-page__title {
    font-size: 32px;
  }
  .lecture-page__subtitle {
    font-size: 24px;
  }
  .lecture-page__descr,
  .lecture-page__purple {
    font-size: 19px;
  }
  .lecture-title {
    font-size: 32px;
  }

  .lecture-modules__slide .lecture-modules__slide_img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
  }
  .lecture-modules__slide .lecture-modules__slide_title {
    font-size: 28px;
  }
  .lecture-who.has-img,
  .lecture-page {
    background-size: 100vw;
    padding-bottom: 60vw;
  }
}
