// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  // scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  // height: 100%;
  &.no-click {
    pointer-events: none;
    overflow-y: hidden;
  }
}
footer {
  margin-top: auto;
  width: 100%;
  overflow: hidden;
}

.body__content {
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $phoneWidth) {
    padding: 0 15px;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
}

@import "./common.scss";

.main-screen__scroll-trigger {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

.section-title {
  margin-bottom: 30px;
  color: $brand-red;
  * {
    color: $brand-red;
  }
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
}

.article-data {
  .count {
    line-height: 100%;
  }
  display: flex;
  align-items: center;
  gap: 15px;
  color: #888888;
  font-size: 14px;

  .favorites-data,
  .views-data,
  .comments-data {
    display: flex;
    // align-items: flex-end;
    align-items: center;
    gap: 6px;
    .ico {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .favorite-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 24px;
    height: 24px;
    .favorite-checkbox {
      margin: 0;
      cursor: pointer;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &:checked + svg {
        path {
          fill: $brand-red;
          stroke: $brand-red;
        }
      }
    }
  }
}

@media (min-width: 577px) {
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    z-index: 10;
    position: absolute;
    left: 0;
    top: 45px;
    min-width: 254px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12),
      inset 0px 0px 34.0148px rgba(255, 255, 255, 0.05),
      inset 0px 2.26765px 2.26765px rgba(255, 255, 255, 0.15);
    border-radius: 0px 0px 8px 8px;
    padding: 20px 27px;

    .mobile-menu__head {
      display: none;
    }
    .mobile-menu__user-data {
      display: none;
    }
    .mobile-menu__link {
      color: #333333;
      padding: 5px 0;
      &.active {
        font-weight: 700;
        color: $brand-red;
      }
    }
  }
}

@media (max-width: 576px) {
  .mobile-menu {
    &.active {
      opacity: 1;
      visibility: visible;
    }
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    padding: 15px;
    padding-top: 10px;
    z-index: 9999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(135deg, #444343 0%, #656097 100%);

    .mobile-menu__close {
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1.41406' y='1.01465' width='24' height='2' transform='rotate(45 1.41406 1.01465)' fill='white'/%3e%3crect x='18.7988' y='2.01465' width='24' height='2' transform='rotate(135 18.7988 2.01465)' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
    }
    .mobile-menu__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .mobile-menu__content {
      overflow: auto;
      padding: 0 10px;
      padding-top: 43px;
      padding-bottom: 27px;
      height: 90%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .mobile-menu__nav {
      display: flex;
      flex-direction: column;
      gap: 17px;
      a {
        padding: 10px 0;
        font-size: 18px;
        color: #fff;
      }
    }

    .mobile-menu__user-data {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 13px;
    }
    .header__basket {
      margin-right: 0;
    }
    .header__favorites,
    .user-data__item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      color: #fff;
      svg path {
        stroke: #fff;
      }
    }
    .user-data__control {
      .user__data {
        color: #fff;
      }
      display: flex;
      gap: 15px;
      svg path {
        stroke: #fff;
      }
    }
  }
}

header {
  background: linear-gradient(90.16deg, #eef7ff 0%, #ffedf3 100%), #ffffff;
}
.header__wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  gap: 45px;
  width: 100%;
}

.header__content {
  width: 100%;
  margin-left: auto;
}

.header__logo {
  flex-shrink: 0;
  width: 175px;
  height: 100px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
  }
}

.header__nav,
.header__top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__data {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__favorites {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__basket {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  .basket__count {
    position: absolute;
    right: -5%;
    bottom: -5%;
    background-color: $brand-red;
    font-size: 10px;
    line-height: 71.5%;
    display: block;
    padding: 3px;
    color: #fff;
    border-radius: 15px;
    font-weight: 400;
  }
}

.header__exit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_link {
  color: $brand-black;
  padding: 9px 17px;
  position: relative;
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  &.active {
    font-weight: 700;
    &:before {
      position: absolute;
      content: "";
      left: 15px;
      right: 15px;
      bottom: 0;
      height: 2px;
      background-color: $brand-red;
    }
  }

  &:hover {
    color: $brand-red;
    text-shadow: 0 0 1px $brand-red;
  }
}

.user__data {
  flex-shrink: 0;
  color: $brand-black;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &.has-messages {
    .user__photo:before {
      opacity: 1;
    }
    .messages__count {
      display: block;
    }
  }
}

.user__photo {
  background: linear-gradient(135deg, #444343 0%, #656097 100%);
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  flex-shrink: 0;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $brand-red;
    opacity: 0;
  }
  .messages__count {
    display: none;
    position: absolute;
    right: -5%;
    bottom: -5%;
    background-color: $brand-red;
    font-size: 10px;
    line-height: 71.5%;
    padding: 3px;
    color: #fff;
    border-radius: 15px;
    font-weight: 400;
  }
}

.header__bottom {
  padding-top: 20px;
  padding-left: 15px;
}

.search-field {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding-left: 42px;
  &::after {
    cursor: text;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 186px;
    background: linear-gradient(
      270deg,
      #ffffff 38.89%,
      rgba(255, 255, 255, 0) 75.56%
    );
  }
  background-image: url("@img/lightning.svg");
  background-repeat: no-repeat;
  background-position: 13px center;
}

.search-field__input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding: 11px 0px;
  line-height: 130%;
  font-size: 18px;
  &::placeholder {
    color: #333;
  }
}

.search-form {
  max-width: 660px;
  width: 100%;
  position: relative;
  display: flex;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.header__bottom {
  display: flex;
  gap: 40px;
}

.index-data__value {
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #00c236;
}

.header__index-data {
  flex-shrink: 0;
  &.fallen {
    .index-data__value {
      color: #ec2a2a;
    }
    .index-data__arrow {
      transform: rotate(180deg);
      svg path {
        stroke: #ec2a2a;
      }
    }
  }
  margin-left: auto;
  justify-content: space-between;
  display: flex;
  gap: 25px;
  padding: 11px 30px;
  background: linear-gradient(135deg, #444343 0%, #656097 100%);
}

.index-data__name {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.index-data__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-search-btn {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: none;
}

.promo-string-mob {
  color: #333333;
  width: 100%;
  position: relative;
  font-size: 14px;
  display: none;
}
.fixed-header {
  transform: translateY(-100%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  &.fixed {
    opacity: 1;
    transform: translateY(0%);
  }
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(90.16deg, #eef7ff 0%, #ffedf3 100%), #ffffff;

  .header__wrapper {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 0;
  }

  .index-data__name {
    display: none;
  }

  .header__logo {
    width: 93px;
    height: 42px;
    margin-right: 25px;
  }
  .search-form {
    margin-right: 15px;
    margin-left: 40px;
    max-width: 48%;
  }
  .header__index-data {
    padding: 12px;
    margin-right: 30px;
  }
  .header__content {
    display: flex;
  }
}

.main-menu-btn {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 7px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  span {
    pointer-events: none;
    background: #333333;
    width: 20px;
    height: 2px;
  }
  // &.active {
  //   span:nth-of-type(1) {
  //     transform: rotate(45deg) translate(5px, 5px);
  //   }

  //   span:nth-of-type(2) {
  //     transform: scale(0);
  //   }

  //   span:nth-of-type(3) {
  //     transform: rotate(-45deg) translate(5px, 5px);
  //   }
  // }
}

footer {
  background: #333333;
}

.footer__logo-wrapper {
  flex-shrink: 0;
}
.footer__logo {
  width: 82px;
  height: 49px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer__wrapper {
  padding: 20px 0;
  justify-content: space-between;
  gap: 20px;
  display: flex;
  align-items: center;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 50px;
  .footer__nav-item {
    padding: 10px;
    color: #ffffff;
  }
}

.footer__socials {
  justify-content: flex-end;
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.footer__social {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.yaer-label {
  color: #888888;
  padding-top: 10px;
}

.devepment-by {
  color: #888888;
  font-size: 18px;
  a {
    display: inline;
    text-transform: uppercase;
    color: $brand-red;
  }
}

.main-screen {
  overflow: hidden;
  padding-top: 3vh;
}
.main-screen {
  padding-bottom: 10px;
}
.media-section {
  padding-top: 50px;
}

.site-nav {
  position: relative;
  max-width: 100%;
  width: fit-content;
  margin: auto;
  height: calc(100vh - 135px);
  // gap: 20px;
  gap: 1.5vh;
  display: grid;
  // grid-template-columns: repeat(auto-fill, 210px);
  // grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: repeat(4, 210px);
  grid-template-columns: repeat(6, 18.5vh);
  grid-template-rows: repeat(4, 18.5vh);

  // grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: repeat(4, 1fr);
}

.site-nav__item {
  // width: 210px;
  // height: 210px;
  background-color: red;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  color: #fff;
  position: relative;
  // font-size: 50px;
  &:nth-of-type(11) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &.main-slider {
    background: linear-gradient(135deg, #444343 0%, #656097 100%);
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item__link {
    width: 100%;
    height: 100%;
    // padding: 30px 34px;
    padding: 3vh 3vh;
  }
  .item__ico {
    width: 7vh;
    height: 7vh;
    background-repeat: no-repeat;
    background-position: center;
    // height: 100%;
    // width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  .item__title {
    // padding-top: 110px;
    padding-top: 9vh;
    font-weight: 700;
    // font-size: 18px;
    font-size: 1.8vh;

    color: #fff;
  }
  .item__social {
    // width: 60px;
    // height: 60px;
    width: calc(50% - 1vh);
    height: calc(50% - 1vh);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &.socials {
    padding: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    flex-wrap: wrap;
  }
}

[data-category-block="database"] .item__ico {
  left: 15%;
  top: 9%;
}
[data-category-block="medialine"] .item__ico {
  left: 15%;
  top: 14%;
}
[data-category-block="learning"] .item__ico {
  left: 15%;
  top: 14%;
}
[data-category-block="calendar"] .item__ico {
  left: 15%;
  top: 7%;
}
[data-category-block="community"] .item__ico {
  left: 16%;
  top: 11%;
}
[data-category-block="conference"] .item__ico {
  left: 9%;
  top: 15%;
}
[data-category-block="intercom"] .item__ico {
  left: 14%;
  top: 12%;
}
[data-category-block="podcast"] .item__ico {
  left: 15%;
  top: 8%;
}
[data-category-block="vacancies"] .item__ico {
  left: 15%;
  top: 8%;
}
[data-category-block="catalog"] .item__ico {
  left: 15%;
  top: 14%;
}
[data-category-block="magazine"] .item__ico {
  left: 15%;
  top: 9%;
}

.main-slider__component {
  position: relative;
  width: 100%;
  height: 100%;
  .main-slide {
    color: #fff;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }

  .main-slide__content {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 42.65%,
      rgba(22, 22, 30, 0.81) 76.31%,
      rgba(0, 0, 0, 0.82) 100%
    );
    padding: 0 2.3vh 5.3vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }

  .main-slide__title {
    font-weight: 600;
    // font-size: 40px;
    font-size: 3.7vh;
    margin-bottom: 5px;
    line-height: 130%;
  }

  .main-slide__descr {
    font-size: 1.8vh;
    @include pruning(3);
  }

  .article-data {
    margin-top: 10px;
    color: #888888;
    font-size: 14px;
    .atricle-date {
      margin-left: 30px;
    }
  }

  .swiper-pagination {
    z-index: 2;
    padding-left: 25px;
    bottom: 25px;
    text-align: left;
    left: 0;
    .swiper-pagination-bullet {
      margin: 0;
      margin-right: 16px;
      opacity: 1;
      transition: width 0.35s linear, background-color 0.35s linear;
      height: 6px;
      width: 6px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 30px;
      &.swiper-pagination-bullet-active {
        width: 27px;
        background-color: #fff;
      }
    }
  }
}

.site-nav__container {
  position: relative;
}

.scroll-helper {
  position: absolute;
  right: 0;
  bottom: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .scroll-helper__text {
    writing-mode: vertical-rl;
    font-size: 18px;
    color: #888888;
    margin-bottom: 10px;
  }

  .scroll-helper__arrow {
    animation: arrowPulse 3s linear infinite;
  }
}

@keyframes arrowPulse {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.media-section {
  padding-bottom: 60px;
}

.media-section__content {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  .media-section__col {
    width: 33.33%;
    padding: 0px 20px;
  }
}

.media-b-image {
  margin-bottom: 30px;
  height: 135px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.media-section__article {
  .atricle-date {
    margin-left: auto;
  }
  .article-link {
    color: $brand-black;
  }

  .article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &.small-article {
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    display: flex;
    gap: 18px;
    .article__img {
      width: 116px;
      height: 105px;
      flex-shrink: 0;
    }
    .article__content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .article-data {
        flex-wrap: wrap;
      }
    }
    .article-data {
      margin-top: auto;
    }
    .article-link {
      @include pruning(3);
    }
  }

  &.large-article {
    display: block;
    margin-bottom: 30px;
    .article__img {
      height: 265px;
      width: 100%;
      margin-bottom: 16px;
    }
    .article__title {
      margin-bottom: 12px;
      font-weight: 600;
      font-size: 25px;
      @include pruning(3);
    }
  }
  &.text-article {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    &:before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.55563 13.3232L9.43584 13.3123C7.90803 13.1735 7.14412 13.104 6.90146 12.5814C6.65881 12.0588 7.09869 11.4304 7.97846 10.1736L11.5612 5.05544C12.1424 4.22517 12.433 3.81003 12.6836 3.89831C12.9342 3.98658 12.9005 4.4922 12.8331 5.50343L12.6299 8.55194C12.5685 9.47214 12.5379 9.93224 12.8023 10.2419C13.0667 10.5515 13.5259 10.5933 14.4444 10.6768L14.5642 10.6877C16.092 10.8265 16.8559 10.896 17.0985 11.4186C17.3412 11.9412 16.9013 12.5696 16.0215 13.8264L12.4388 18.9446C11.8576 19.7748 11.567 20.19 11.3164 20.1017C11.0658 20.0134 11.0995 19.5078 11.1669 18.4966L11.3701 15.4481C11.4315 14.5279 11.4621 14.0678 11.1977 13.7581C10.9333 13.4485 10.4741 13.4067 9.55563 13.3232Z' fill='%23AD073D'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    padding-left: 38px;
    .article__title {
      font-size: 18px;
      margin-bottom: 15px;
      @include pruning(2);
    }
  }
}

.arrow-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 25px;
  color: $brand-red;
  margin-bottom: 30px;
  .arrow-ico {
    padding-top: 3px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.inner-form {
  background-color: #f0f7ff;
  padding: 30px;
}

.form-sucsess {
  &.show {
    opacity: 1;
    visibility: visible;
  }
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.92);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-sucsess__content {
  background-image: url("@img/form-sucsess__bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  position: relative;
  height: fit-content;
  max-width: 500px;
  width: 100%;
  background-color: #f0f7ff;
  padding: 59px 67px;
  .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1.41406' width='26' height='2' transform='rotate(45 1.41406 0)' fill='%2348474D'/%3e%3crect x='19.7988' y='1.41406' width='26' height='2' transform='rotate(135 19.7988 1.41406)' fill='%2348474D'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.form-sucsess__title {
  margin-bottom: 62px;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
}

.inner-form__btn {
  &:disabled {
    pointer-events: none;
    background-color: #888888;
  }
}

.inner-form__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.inner-form__label {
  margin-bottom: 20px;
  width: 100%;
  .inner-form__input {
    padding: 14px 20px;
    font-size: 16px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }
}

.inner-form__agree {
  cursor: pointer;
  gap: 10px;
  color: #888888;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  .form__agree-checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:checked + .form-agree__text {
      &::after {
        opacity: 1;
      }
    }
  }

  .form-agree__text {
    padding-left: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid #888888;
      border-radius: 4px;
    }
    &::after {
      opacity: 0;
      position: absolute;
      content: "";
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background: #ad073d;
      border-radius: 2px;
    }
  }
}

.survey {
  background: #f0f7ff;
  padding: 30px;
  margin-bottom: 30px;

  .survey__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .survey__text {
    transition: color 0.2s ease-in-out;
    color: #888;
    padding-left: 30px;
    display: flex;
    gap: 10px;
    position: relative;
    &::before {
      left: 0;
      top: 3px;
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      border: 1px solid #888888;
      border-radius: 4px;
    }
    &::after {
      opacity: 0;
      position: absolute;
      content: "";
      left: 3px;
      top: 6px;
      width: 12px;
      height: 12px;
      background: #ad073d;
      border-radius: 2px;
    }
  }

  .survey__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:checked + .survey__text {
      color: #333;
      &::after {
        opacity: 1;
      }
    }
  }
}
.survey__btn {
  &:disabled {
    pointer-events: none;
    background-color: #888888;
  }
}

.inner-banner._small {
  margin-bottom: 30px;
  position: relative;
  .inner-banner__img {
    object-fit: cover;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  height: 180px;
  max-width: 427px;
  width: 100%;
  .inner-banner__content {
    color: #fff;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
  }
  .inner-banner__title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .inner-banner__text {
    font-weight: 400;
    font-size: 16px;
  }
}

@media (max-width: 1480px) {
  .media-section__article.small-article .article__content .article-data {
    gap: 10px;
  }
  .media-section__article.small-article .atricle-date {
    order: -1;
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .scroll-helper .scroll-helper__text {
    font-size: 14px;
  }
  .header__nav,
  .header__top {
    gap: 15px;
  }
  .fixed-header .search-form {
    max-width: 45%;
  }
  .fixed-header .header__index-data {
    margin: 0px 10px;
  }
}

@media (max-width: 1300px) {
  .fixed-header .search-form {
    max-width: 40%;
  }
  .header__nav,
  .header__top {
    gap: 10px;
  }
  .header__bottom {
    gap: 20px;
  }
  .header__wrapper {
    gap: 45px;
  }

  .header {
    padding-top: 66px;
    .header__wrapper {
      display: none;
    }
  }
  .fixed-header {
    .header__wrapper {
      display: flex;
    }
    position: fixed;
    transform: translate(0);
    opacity: 1;
  }
  .header__data {
    // margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .footer__nav {
    gap: 20px;
  }
  .media-section__article.small-article .article__img {
    width: 120px;
    height: 113px;
  }
  .media-section__content {
    .media-section__col {
      width: 100%;
    }
    gap: 10px;
  }

  .media-section__col.first-col {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    .section-title {
      order: 1;
      margin-bottom: 20px;
    }
    .arrow-title {
      order: 2;
    }
  }
  .media-section__content {
    flex-wrap: wrap;
  }
  .media-section__article.large-article {
    width: 400px;
  }
  .media-section__most-read {
    width: auto;
  }
  .fixed-header .search-form {
    margin-right: 0;
    margin-left: 20px;
  }
  .fixed-header .header__logo {
    margin-right: 20px;
  }
  .fixed-header .header__index-data {
    // margin: auto;
  }
}

@media (max-width: 1180px) {
  .header {
    padding-top: 113px;
  }
  .fixed-header .header__logo {
    margin-right: 0;
    display: flex;
    justify-content: center;
    height: 30px;
    img {
      object-position: center;
    }
  }

  .fixed-header .search-form {
    width: calc(50% - 5px);

    max-width: initial;
    margin-left: 0;
  }
  .fixed-header {
    .header__index-data {
      order: 5;
      width: calc(50% - 5px);
      align-items: center;
      padding: 11px 12px;
      justify-content: center;
      margin: 0;
    }
    .index-data__name {
      display: block;
      font-size: 16px;
    }
    .index-data__value {
      font-size: 16px;
      align-items: center;
    }
  }
  .search-form {
    order: 4;
  }
  .header__data {
    padding-left: 30%;
    margin-left: auto;
  }
  .fixed-header .header__wrapper {
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-bottom: 10px;
  }

  .fixed-header .header__content {
    padding-top: 5px;
  }
}

@media (max-width: 1080px) {
  .footer__nav {
    flex-wrap: wrap;
    gap: 0;
    .footer__nav-item {
      width: 50%;
      text-align: center;
    }
  }
  .media-section__article.large-article {
    width: 100%;
  }
  .media-section__article.large-article .article__img {
    height: 440px;
  }
  .media-section__most-read {
    width: 100%;
    margin-bottom: 20px;
  }
  .inner-form {
    margin-bottom: 20px;
  }
  .media-section__article.large-article {
    margin-bottom: 0;
  }
  .media-section__article.small-article {
    width: 100%;
    .article__content {
      width: 100%;
    }
    .atricle-date {
      width: auto;
      margin-left: auto;
      order: inherit;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 170px;
  }
  .header__data {
    padding-left: 0;
  }
  .fixed-header .search-form {
    width: 100%;
  }
  .fixed-header .header__index-data {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .media-section__article.small-article .article__img {
    width: 100px;
    height: 100px;
  }
  .media-section__article.small-article .article__content .article-data {
    gap: 7px;
  }
  .media-section__article.small-article {
    gap: 10px;
  }
  .article-data {
    font-size: 12px;
  }
  .article-data .favorites-data,
  .article-data .views-data,
  .article-data .comments-data {
    gap: 2px;
  }
  .footer__logo-wrapper {
    text-align: center;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__nav {
    flex-direction: column;
  }
  .footer__nav .footer__nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
  }
  .footer__socials {
    justify-content: center;
  }
  .media-section__content {
    margin-right: 0;
    margin-left: 0;
    .media-section__col {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .media-section__article.large-article .article__img {
    height: 60vw;
  }
  .media-section__article.large-article .article__title {
    font-size: 18px;
  }
  .header {
    padding-top: 114px;
  }
  .fixed-header .header__index-data {
    padding: 6px;
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
    * {
      font-size: 14px;
    }
  }
  .fixed-header .header__wrapper {
    justify-content: space-between;
    gap: 6px;
    padding-bottom: 0;
  }
  .fixed-header {
    background: #fff;
  }
  .promo-string-mob {
    display: flex;
    white-space: nowrap;
    position: relative;
    align-items: center;
    gap: 6px;
    &:before {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      background-image: url(../img/lightning.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 18px;
    }
    &::after {
      cursor: text;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30%;
      background: linear-gradient(
        270deg,
        #ffffff 38.89%,
        rgba(255, 255, 255, 0) 75.56%
      );
    }
  }
  .header__data {
    display: none;
  }

  .mobile-search-btn {
    display: flex;
  }

  .main-menu-btn {
    order: -1;
  }

  .search-form {
    overflow: hidden;
    .search-field,
    .search-btn {
      display: none;
    }
  }
}

@media (max-width: 1359px) {
  .site-nav {
    height: auto;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(3, 140px);
    gap: 10px;
  }

  .site-nav__item.main-slider {
    // grid-column-end: 5;
    grid-column-end: 4;
  }
  .main-slider__component {
    .main-slide__content {
      padding: 40px 10px;
    }
    .swiper-pagination {
      bottom: 15px;
    }
    .article-data {
      font-size: 12px;
      gap: 10px;
      .atricle-date {
        margin-left: auto;
      }
    }
    .article-data .favorites-data .ico,
    .article-data .views-data .ico,
    .article-data .comments-data .ico {
      width: 18px;
      height: 18px;
    }
  }
  .site-nav__item .item__title {
    padding-top: 65px;
    font-size: 14px;
  }
  .site-nav__item .item__link,
  .site-nav__item.socials {
    padding: 20px;
  }
  .site-nav__item .item__ico {
    height: 60px;
    width: 60px;
  }

  .main-slider__component .main-slide__title {
    font-size: 26px;
  }
  .main-slider__component .main-slide__descr {
    font-size: 14px;
  }
  .site-nav__item:nth-of-type(11) {
    grid-column-start: inherit;
    grid-column-end: inherit;
  }

  .scroll-helper {
    display: none;
  }
  .site-nav__item.socials {
    gap: 10px;
    order: 99;
  }
  [data-category-block="vacancies"] {
    order: 98;
  }
  .site-nav__item .item__social {
    width: calc(50% - 5px);
    height: calc(50% - 5px);
  }
}

@media (max-width: 900px) {
  .site-nav {
    grid-template-columns: repeat(5, 140px);
  }
  .site-nav__item.main-slider {
    grid-column-end: 5;
  }
}

@media (max-width: 780px) {
  .site-nav__item.main-slider {
    grid-column-end: 5;
  }
  .site-nav {
    grid-template-columns: repeat(4, 140px);
  }
}

@media (max-width: 640px) {
  .site-nav__item.main-slider {
    grid-column-end: 4;
  }
  .site-nav {
    grid-template-columns: repeat(3, 140px);
  }
}

@media (max-width: 500px) {
  .main-screen {
    padding-top: 0;
  }
  .site-nav__item .item__title {
    padding-top: 20vw;
  }
  .inner-form,
  .survey {
    padding: 20px;
  }

  .main-slider__component .main-slide__descr {
    font-size: 12px;
  }
  .main-slider__component .main-slide__title {
    font-size: 20px;
  }
  .media-section {
    padding-top: 0px;
  }
  .site-nav__item.main-slider {
    grid-column-end: 3;
    height: 130vw;
    margin-bottom: 8px;
  }
  .site-nav {
    grid-area: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .site-nav__item.main-slider {
    width: 100%;
  }
  .site-nav__item {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 390px) {
  .fixed-header .header__index-data {
    gap: 10px;
  }
  .arrow-title .arrow-ico {
    // padding-top: 0;
    padding: 2px;
    width: 16px;
    height: 16px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .inner-form__title {
    font-size: 14px;
  }
  .survey .survey__text {
    font-size: 12px;
  }
  .article-data {
    font-size: 10px;
  }
  .media-section__article.text-article:before {
    width: 17px;
    height: 17px;
  }
  .media-section__article.text-article {
    padding-left: 25px;
  }
  .media-section__article .article-link {
    font-size: 14px;
  }
  .media-section__article.small-article .article__img {
    width: 80px;
    height: 80px;
  }
  .media-section__article.small-article .article-link {
    font-size: 14px;
  }
  .arrow-title {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 27px;
  }
  .media-section__article.small-article {
    gap: 12px;
  }
  .article-data .favorite-label,
  .article-data .favorites-data .ico,
  .article-data .views-data .ico,
  .article-data .comments-data .ico {
    width: 14px;
    height: 14px;
  }
  .article-data,
  .media-section__article.small-article .article__content .article-data {
    gap: 6px;
  }
  .inner-form__label .inner-form__input {
    font-size: 12px;
  }
  .inner-form__label .inner-form__input {
    padding: 10px 13px;
  }
  .inner-form__label {
    margin-bottom: 15px;
  }
  .red-btn {
    font-size: 14px;
  }
  .inner-form__agree .form-agree__text {
    font-size: 12px;
  }
  .media-section__article.small-article:not(:last-child),
  .media-section__article.text-article:not(:last-child) {
    margin-bottom: 20px;
  }

  .media-section {
    padding-top: 30px;
  }

  .survey .survey__text::before {
    top: 0;
  }
  .survey .survey__text::after {
    top: 3px;
  }
}
