// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  // height: 100%;
}
footer {
  margin-top: auto;
}

.body__content {
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
}

@import "./common.scss";

.section-title {
  margin-bottom: 30px;
  color: $brand-red;
  * {
    color: $brand-red;
  }
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
}

.article-data {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #888888;
  font-size: 14px;

  .favorites-data,
  .views-data,
  .comments-data {
    display: flex;
    align-items: center;
    gap: 6px;
    .ico {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .favorite-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 24px;
    height: 24px;
    .favorite-checkbox {
      margin: 0;
      cursor: pointer;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &:checked + svg {
        path {
          fill: $brand-red;
          stroke: $brand-red;
        }
      }
    }
  }
}

header {
  background: linear-gradient(90.16deg, #eef7ff 0%, #ffedf3 100%), #ffffff;
}
.header__wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  gap: 45px;
  width: 100%;
}

.header__content {
  width: 100%;
  margin-left: auto;
}

.header__logo {
  flex-shrink: 0;
  width: 175px;
  height: 100px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
  }
}

.header__nav,
.header__top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__data {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__favorites {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__basket {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  .basket__count {
    position: absolute;
    right: -5%;
    bottom: -5%;
    background-color: $brand-red;
    font-size: 10px;
    line-height: 71.5%;
    display: block;
    padding: 3px;
    color: #fff;
    border-radius: 15px;
    font-weight: 400;
  }
}

.header__exit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_link {
  color: $brand-black;
  padding: 9px 17px;
  position: relative;
  &.active {
    font-weight: 700;
    &:before {
      position: absolute;
      content: "";
      left: 15px;
      right: 15px;
      bottom: 0;
      height: 2px;
      background-color: $brand-red;
    }
  }
}

.user__data {
  flex-shrink: 0;
  color: $brand-black;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &.has-messages {
    .user__photo:before {
      opacity: 1;
    }
    .messages__count {
      display: block;
    }
  }
}

.user__photo {
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  flex-shrink: 0;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $brand-red;
    opacity: 0;
  }
  .messages__count {
    display: none;
    position: absolute;
    right: -5%;
    bottom: -5%;
    background-color: $brand-red;
    font-size: 10px;
    line-height: 71.5%;
    padding: 3px;
    color: #fff;
    border-radius: 15px;
    font-weight: 400;
  }
}

.header__bottom {
  padding-top: 20px;
  padding-left: 15px;
}

.search-field {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding-left: 42px;
  &::after {
    cursor: text;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 186px;
    background: linear-gradient(
      270deg,
      #ffffff 38.89%,
      rgba(255, 255, 255, 0) 75.56%
    );
  }
  background-image: url("@img/lightning.svg");
  background-repeat: no-repeat;
  background-position: 13px center;
}

.search-field__input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding: 11px 0px;
  line-height: 130%;
  font-size: 18px;
}

.search-form {
  max-width: 660px;
  width: 100%;
  position: relative;
  display: flex;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__bottom {
  display: flex;
  gap: 40px;
}

.index-data__value {
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #00c236;
}

.header__index-data {
  flex-shrink: 0;
  &.fallen {
    .index-data__value {
      color: #ec2a2a;
    }
    .index-data__arrow {
      transform: rotate(180deg);
      svg path {
        stroke: #ec2a2a;
      }
    }
  }
  margin-left: auto;
  justify-content: space-between;
  display: flex;
  gap: 25px;
  padding: 11px 30px;
  background: linear-gradient(135deg, #444343 0%, #656097 100%);
}

.index-data__name {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.index-data__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-header {
  transform: translateY(-100%);
  opacity: 0;
  &.fixed {
    opacity: 1;
    transform: translateY(0%);
  }
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(90.16deg, #eef7ff 0%, #ffedf3 100%), #ffffff;

  .header__wrapper {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 0;
  }

  .header__logo {
    width: 93px;
    height: 42px;
    margin-right: 30px;
  }
  .search-form {
    margin-right: 15px;
    margin-left: 45px;
  }
  .header__index-data {
    margin-right: 30px;
  }
  .header__content {
    display: flex;
  }
}

.main-menu-btn {
  cursor: pointer;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 7px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  span {
    background: #333333;
    width: 20px;
    height: 2px;
  }
}

.main-screen {
  padding-top: 30px;
  margin-bottom: 220px;
}

.site-nav {
  gap: 20px;
  display: grid;
  // grid-template-columns: repeat(auto-fill, 210px);
  // grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(6, 210px);
  grid-template-rows: repeat(4, 210px);
}

.site-nav__item {
  // width: 210px;
  // height: 210px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  // font-size: 50px;
  &:nth-of-type(11) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &.main-slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item__link {
    width: 100%;
    height: 100%;
    padding: 30px 34px;
  }
  .item__ico {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 30px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .item__title {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  .item__social {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &.socials {
    padding: 32px;
    gap: 26px;
    flex-wrap: wrap;
  }
}

.main-slider__component {
  position: relative;
  width: 100%;
  height: 100%;
  .main-slide {
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .main-slide__content {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 42.65%,
      rgba(22, 22, 30, 0.81) 76.31%,
      rgba(0, 0, 0, 0.82) 100%
    );
    padding: 0 25px 57px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }

  .main-slide__title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 130%;
  }

  .main-slide__descr {
    font-size: 20px;
    @include pruning(3);
  }

  .article-data {
    margin-top: 10px;
    color: #888888;
    font-size: 14px;
    .atricle-date {
      margin-left: 30px;
    }
  }

  .swiper-pagination {
    padding-left: 25px;
    bottom: 25px;
    text-align: left;
    left: 0;
    .swiper-pagination-bullet {
      margin: 0;
      margin-right: 16px;
      opacity: 1;
      transition: width 0.35s linear, background-color 0.35s linear;
      height: 6px;
      width: 6px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 30px;
      &.swiper-pagination-bullet-active {
        width: 27px;
        background-color: #fff;
      }
    }
  }
}

.site-nav__container {
  position: relative;
}

.scroll-helper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .scroll-helper__text {
    writing-mode: vertical-rl;
    font-size: 18px;
    color: #888888;
    margin-bottom: 10px;
  }

  .scroll-helper__arrow {
    animation: arrowPulse 3s linear infinite;
  }
}

@keyframes arrowPulse {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.media-section {
  padding-bottom: 110px;
}

.media-section__content {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  .media-section__col {
    width: 33.33%;
    padding: 0px 20px;
  }
}

.media-b-image {
  margin-bottom: 30px;
  height: 135px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.media-section__article {
  .atricle-date {
    margin-left: auto;
  }
  .article-link {
    color: $brand-black;
  }

  .article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &.small-article {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    display: flex;
    gap: 18px;
    .article__img {
      width: 116px;
      height: 105px;
      flex-shrink: 0;
    }
    .article__content {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .article-data {
      margin-top: auto;
    }
    .article-link {
      @include pruning(3);
    }
  }

  &.large-article {
    display: block;
    margin-bottom: 30px;
    .article__img {
      height: 265px;
      width: 100%;
      margin-bottom: 16px;
    }
    .article__title {
      margin-bottom: 12px;
      font-weight: 600;
      font-size: 25px;
      @include pruning(3);
    }
  }
  &.text-article {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.55563 13.3232L9.43584 13.3123C7.90803 13.1735 7.14412 13.104 6.90146 12.5814C6.65881 12.0588 7.09869 11.4304 7.97846 10.1736L11.5612 5.05544C12.1424 4.22517 12.433 3.81003 12.6836 3.89831C12.9342 3.98658 12.9005 4.4922 12.8331 5.50343L12.6299 8.55194C12.5685 9.47214 12.5379 9.93224 12.8023 10.2419C13.0667 10.5515 13.5259 10.5933 14.4444 10.6768L14.5642 10.6877C16.092 10.8265 16.8559 10.896 17.0985 11.4186C17.3412 11.9412 16.9013 12.5696 16.0215 13.8264L12.4388 18.9446C11.8576 19.7748 11.567 20.19 11.3164 20.1017C11.0658 20.0134 11.0995 19.5078 11.1669 18.4966L11.3701 15.4481C11.4315 14.5279 11.4621 14.0678 11.1977 13.7581C10.9333 13.4485 10.4741 13.4067 9.55563 13.3232Z' fill='%23AD073D'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    padding-left: 38px;
    .article__title {
      margin-bottom: 12px;
    }
  }
}

.arrow-title {
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: 600;
  font-size: 25px;
  color: $brand-red;
  margin-bottom: 30px;
}
